<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758599098104-anfsj84ihbqj9rs26q41inmh9ctqvvs3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758599098104-anfsj84ihbqj9rs26q41inmh9ctqvvs3</string>
	<key>API_KEY</key>
	<string>AIzaSyByjvGTpfB9XsIZoBggJ0FMhl5kOKuf86Q</string>
	<key>GCM_SENDER_ID</key>
	<string>758599098104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.planti</string>
	<key>PROJECT_ID</key>
	<string>plante-ff4b0</string>
	<key>STORAGE_BUCKET</key>
	<string>plante-ff4b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758599098104:ios:2faf12989c8eb04244e50d</string>
</dict>
</plist>